<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                <%=Global.PageHeader%>
            </h1>
        </div>
        <div id="page-area" style="display: none">
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        Device Information
                    </h3>
                    <table id="device-table" class="table table-striped table-bordered" style="display: none">
                        <tbody id="device-body">
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <h3>
                        Crimson Runtime
                    </h3>
                    <div id="pxe-show" style="display: none">
                        <table id="pxe-table" class="table table-striped table-bordered">
                            <tbody id="pxe-body">
                            </tbody>
                        </table>
                        <div id="pxe-buttons">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-11">
                <h3>
                    Interface Status
                </h3>
                <table id="face-table" class="table table-striped table-bordered" style="display: none">
                    <thead>
                        <tr>
                            <th style="width: 15%">Interface</th>
                            <th style="width: 10%">Device</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 15%">IP Address</th>
                            <th style="width: 15%">Network Mask</th>
                            <th style="width: 15%">MAC Address</th>
                            <th style="width: 25%">Connection</th>
                        </tr>
                    </thead>
                    <tbody id="face-body">
                    </tbody>
                </table>
            </div>
            <div class="row col-md-11">
                <h3>
                    Quick Access
                </h3>
                <div id="quick-access">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/assets/js/default.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
