﻿<!doctype html>
<html lang="en">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <div id="waiter" class="wait" style="display:none;">
        &nbsp;
    </div>
    <div class="modal" id="editor" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="editor-bx" type="button" class="close" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="editor-label">
                        HEADER
                    </h4>
                </div>
                <div class="modal-body" id="editor-body">
                    BODY
                </div>
                <div class="modal-footer">
                    <button id="editor-b1" type="button" class="btn btn-primary">
                        OK
                    </button>
                    <button id="editor-b2" type="button" class="btn btn-secondary">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modal-bx" type="button" class="close" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="modal-label">
                        HEADER
                    </h4>
                </div>
                <div class="modal-body" id="modal-body">
                    BODY
                </div>
                <div class="modal-footer">
                    <button id="modal-b1" type="button" class="btn">
                        B1
                    </button>
                    <button id="modal-b2" type="button" class="btn">
                        B2
                    </button>
                    <button id="modal-b3" type="button" class="btn">
                        B3
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="wifi" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="wifi-bx" type="button" class="close" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="wifi-label">
                        SELECT WI-FI NETWORK
                    </h4>
                </div>
                <div class="modal-body" id="wifi-body">
                    BODY
                </div>
                <div class="modal-footer">
                    <button id="wifi-cx" type="button" class="btn btn-secondary">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="hidden" style="display:none">
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <main class="container" role="main">
        <div class="page-header">
            <h1 id="page-title">
                &nbsp;
            </h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div id="tb-div" class="panel-body">
                        <span id="tb-text" style="color: #808CC8">
                            &nbsp;
                        </span>
                        <span class="pull-right">
                            <span id="tb-save" class="tb-icon fa fa-save" data-toggle="tooltip" title="Save Changes" style="display:none; color: #C0C0C0"></span>
                            <span id="tb-undo" class="tb-icon fa fa-undo" data-toggle="tooltip" title="Revert All" style="display:none; color: #C0C0C0"></span>
                            <span id="tb-upld" class="tb-icon fa fa-arrow-up" data-toggle="tooltip" title="Upload" style="display:none; style="color: #C0C0C0"></span>
                            <span id="tb-down" class="tb-icon fa fa-arrow-down" data-toggle="tooltip" title="Download" style="display:none; style="color: #C0C0C0"></span>
                        </span>
                    </div>
                </div>
                <div id="tree" style="overflow-y: auto; max-height: calc(100vh - 295px)"></div>
            </div>
            <div class="col-md-9">
                <div id="tabs"></div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-treeview.min.js"></script>
    <script type="text/javascript" src="/assets/js/editor.js"></script>
    <script type="text/javascript">$(document).ready(doConfig);</script>
</body>
</html>
