﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand" style="margin-bottom: 0px;"></p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <div class="container">
        <h3 class="form-logon-heading">
            <%=String.1049%>
        </h3>
        <p>
            <%=String.1004%>
        </p>
    </div>
</body>
<script type="text/javascript" src="/assets/js/logoff.js"></script>
<script type="text/javascript">$(document).ready(function () { doSession(pageMain); });</script>
</html>
