﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
    <link href="/assets/css/syscmd.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                <%=System.CmdHead%>
            </h1>
            <div id="real-time-div" class="custom-control custom-checkbox" style="display: none">
                <input id="real-time-box" type="checkbox" class="custom-control-input" />
                <label class="custom-control-label" for="real-time-box">
                    <%=String.1079%>
                </label>
            </div>
        </div>
        <div class="row">
            <div id="cmd-data" class="cmd-data col-md-11">
            </div>
        </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="/assets/js/syscmd.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
