﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
    <link href="/assets/css/logarea.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div id="tool-main" class="container" role="main" style="display: none">
        <div class="page-header">
            <h1 id="tool-name">
            </h1>
        </div>
        <div id="tool-form">
            <div class="row">
                <div class="col-md-4">
                    <div id="show-tool-host" class="row">
                        <div class="form-group col-md-12">
                            <label for="tool-host">
                                Target Host
                            </label>
                            <input id="tool-host" class="form-control" placeholder="Name or IP">
                        </div>
                    </div>
                    <div id="show-tool-dest" class="row" style="display: none">
                        <div class="form-group col-md-6">
                            <label for="tool-dest">
                                Destination IP
                            </label>
                            <input id="tool-dest" class="form-control" placeholder="IP Address">
                        </div>
                    </div>
                    <div id="show-tool-port" class="row" style="display: none">
                        <div class="form-group col-md-6">
                            <label for="tool-port">
                                TCP/IP Port
                            </label>
                            <input id="tool-port" class="form-control" placeholder="Port Number">
                        </div>
                    </div>
                    <div id="show-tool-face" class="row" style="display: none">
                        <div class="form-group col-md-8">
                            <label for="tool-face">
                                Network Interface
                            </label>
                            <select id="tool-face" class="form-control">
                                <option value="99">Automatic</option>
                                <%=System.CaptureList%>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <button id="tool-start" type="button" class="btn btn-success" style="margin-top: 20px; margin-right: 8px">
                                Run Tool
                            </button>
                            <button id="tool-stop" type="button" class="btn btn-danger" style="margin-top: 20px">
                                Stop Tool
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="log-area" style="display: none">
                        <div id="log-text" class="debug debug-text" style="display: none">
                        </div>
                        <div id="log-snap" class="debug debug-snap" style="display: none">
                        </div>
                        <div style="margin-top: 12px">
                            <button id="log-save" type="button" style="margin-right: 12px" class="btn btn-primary">
                                Save Contents
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hidden" style="display: none" />
</body>
<script type="text/javascript" src="/assets/js/logarea.js"></script>
<script type="text/javascript" src="/assets/js/systool.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
