
.tooltip-inner {
	max-width: 350px;
	width: inherit;
}

body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.modal-dialog {
	margin-top: 0;
	margin-bottom: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal.fade .modal-dialog {
	transform: translate(0, -100%);
}

.modal.in .modal-dialog {
	transform: translate(0, 0);
}

.dropdown-menu {
	min-width: 64px;
}

.dropdown-submenu {
	position: relative;
}

	.dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -2px;
	}

	.dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}

	.dropdown-submenu > a:after {
		content: "";
		margin-top: 6px;
		margin-right: -10px;
		float: right;
		border-left: 4px solid;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
	}

canvas {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

.bordered-tab-content > .tab-content > .tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}

.bordered-tab-content > .nav-tabs {
	margin-bottom: 0;
}

.bordered-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
}

.form-tight {
	padding-left: 4px;
	padding-right: 4px;
}

.form-label {
}

.field-icon {
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}

.field-icon-undo {
	color: #A00000;
}

	.field-icon-undo:hover {
		cursor: pointer;
	}

.field-icon-help {
	color: #808CC8;
}

	.field-icon-help:hover {
		cursor: pointer;
	}

.field-icon-disable {
	color: #E0E0E0;
}

.table-icon {
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}

.table-icon-add {
	color: #00A000;
}

	.table-icon-add:hover {
		cursor: pointer;
	}

.table-icon-edit {
	color: #00A000;
}

	.table-icon-edit:hover {
		cursor: pointer;
	}

.table-icon-delete {
	color: #A00000;
}

	.table-icon-delete:hover {
		cursor: pointer;
	}

.table-icon-undo {
	color: #A00000;
}

	.table-icon-undo:hover {
		cursor: pointer;
	}

.table-icon-move {
	color: #808CC8;
}

	.table-icon-move:hover {
		cursor: pointer;
	}

.table-icon-disable {
	color: #E0E0E0;
}

.tb-icon {
	padding-left: 4px;
	padding-right: 4px;
}

	.tb-icon:hover {
		cursor: pointer;
	}

.tree-icon {
	padding-top: 4px;
	vertical-align: middle;
}

.file-icon {
	padding-left: 4px;
	padding-right: 6px;
}

.refresh-icon {
	color: #00A000;
}

	.refresh-icon:hover {
		cursor: pointer;
	}

.node-tree {
	padding-top: 4px;
	padding-bottom: 4px;
}

.tooltip-arrow {
	border-top-color: #808CC8 !important;
}

.tooltip.top .tooltip-inner {
	background-color: #808CC8;
}

.navbar-inverse {
	border-color: #FF0000;
	border-bottom-width: 4px;
}

.drag-enter {
	border: 2px solid #0B85A1;
}

.locked:not([disabled]) {
	background: #FCFCFC;
}

.pin-enable {
	color: #00C000;
}

.pin-disable {
	color: #808080;
}

.pin-enable:hover {
	cursor: pointer;
}

.hand-enable {
}

	.hand-enable:hover {
		cursor: pointer;
	}

.no-spinners::-webkit-outer-spin-button, .no-spinners::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

ul.list-group {
	margin-bottom: 0px;
}

button.multiselect {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

div#waiter {
	z-index: 99999;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
}

body.wait .move {
	cursor: wait;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	color: #AAA;
}

	.form-control[disabled] + .input-group-addon {
		color: #AAA;
	}

.nav-tabs > li > a {

	padding-left: 10px;
	padding-right: 10px;
}
