body
{
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu
{
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn
{
	margin: 5px 0;
}

.theme-showcase .navbar .container
{
	width: auto;
}

.modal-dialog
{
	margin-top: 0;
	margin-bottom: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal.fade .modal-dialog
{
	transform: translate(0, -100%);
}

.modal.in .modal-dialog
{
	transform: translate(0, 0);
}

.dropdown-menu
{
	min-width: 64px;
}

canvas
{
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

.navbar-inverse
{
	border-color: #808CC8;
	border-bottom-width: 4px;
}
