<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/favicon.ico" /> 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=Global.Title%></title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">
    <link href="/assets/css/logon.css" rel="stylesheet">
    <link href="/custom/css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
	    <script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
	    <script type="text/javascript" src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="/assets/js/session.js"></script>
    <script type="text/javascript" src="/custom/js/custom.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <p class="navbar-brand" style="margin-bottom: 0px;"><%=Global.Home%></p>
		</div>
	  </div>
	</nav>
    <div class="container">
        <form class="form-logon">
            <h3 class="form-logon-heading"><%=String.1005%></h3>
            <label for="inputUserName" class="sr-only"><%=String.1006%></label>
            <input type="text" id="inputUserName" class="form-control" placeholder="<%=String.1006%>" autofocus>
            <label for="inputPassword" class="sr-only"><%=String.1007%></label>
            <input type="password" id="inputPassword" class="form-control" placeholder="<%=String.1007%>">
            <button type="button" class="btn btn-lg btn-primary btn-block" onclick="submitLogon()"><%=String.1050%></button>
            <br />
     	    <div id="alert-placeholder"></div>
        </form>
    </div>
</body>
<script type="text/javascript" src="/assets/js/logon.js"></script>
<script type="text/javascript">$(document).ready(function () { doSession(pageMain); });</script>
</html>
