<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/favicon.ico" /> 
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%=Global.Title%></title>
	<style>
		html { height:100%; }
		body { position:absolute; margin:0; top:0; bottom:0; right:0; left:0; }
	</style>
</head>
<body>
	<canvas id="the-canvas"></canvas>
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/session.js"></script>
	<script type="text/javascript" src="/assets/js/remote.js"></script>
	<script type="text/javascript">$(document).ready(function () { doSession(function () { pageMain(2); }); });</script>
</body>
</html>
